@model ResturantManagment.Models.Ingredient
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form method="post" asp-action="Add">
  <div class="mb-3">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
